* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('MyriadPro-Regular.woff') format('woff'), url('MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.displaynone {
    display: none;
}

.marginauto {
    margin: auto;
}

.textcenter {
    text-align: center;
}

.colorgreen {
    color: #38c695;
}

.colorpurple {
    color: #b27cf5;
}

.colororange {
    color: #feb960;
}

.containermain {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

.header {
    height: 75px;
    width: 100%;
    background-color: #ffff;
}

.header .container {
    height: 100%;
}

.header .row {
    height: 100%;
}

.header .header-img {
    text-align: left;
    position: relative;
    margin-top: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

.header-buttton {
    margin-top: 33px;
    display: inline-block;
}

.header-button a {
    /*  width: 10%;*/
    padding: 0 10px;
    border: none;
    background-color: transparent;
    font: 14px 'Poppins', sans-serif;
    color: black;
}

.header-button a:focus {
    outline: none;
}

.header-title {
    /* max-height: 775px;*/
    width: 100%;
    /* height:100vh;*/
    background-color: #3f4049;
}

.header-title h1 {
    text-align: center;
    padding-top: 193px;
    font: 60px 'Libre Baskerville', serif;
    color: #ffff;
}

.header-title button {
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 25px;
    background-color: #fc5f45;
    color: white;
    margin-top: 64px;
    font: 14px 'Libre Baskerville', serif;
}

.header-title button:focus {
    outline: none;
}

.header-title button:hover {
    transition: all 1s;
    background-color: orangered;
}

@media (max-width: 960px) {
    .header-button {
        display: none;
    }
}

.header-style__toggle {
    background-color: #3f4049;
    /* background-image: url("../images/menubar.png");*/
    background-size: 66% 66%;
    padding: 10px;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    color: #000;
    text-align: center;
    cursor: pointer;
}

.header-style__underlay {
    height: 75px;
    width: 75px;
    right: 0;
}

.header-style__underlay img {
    width: 100%;
    height: 100%;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-style__underlay img:hover {
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media (max-width: 959px) {
    .header-img {
        max-width: 100%;
        text-align: center!important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 959px) {
    .header-style__underlay {
        display: none;
    }
}

.header-title .icon {
    width: 40px;
    height: 40px;
    /* border: 2px solid #38c695;
    border-radius: 50%;*/
    color: #38c695;
    font-size: 32px;
    display: flex;
    margin: 83px auto 38px;
}

.header-title h4 {
    margin: auto;
    font: 18px 'Poppins', sans-serif;
    padding-bottom: 177px;
}

.about {
    padding: 146px 15px 145px 15px;
}

.gradient {
    height: 700px;
    width: 555px;
    background-image: url(https://picsum.photos/555/700);
}

.aboutus {
    width: 100%;
    position: relative;
    background-color: #ffff;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-top: 110px;
    left: 488px;
    box-shadow: 0 -14px 20px rgba(0, 0, 0, 0.5);
}

.aboutus h4 {
    font: 50px 'Libre Baskerville', serif;
    color: black;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 20px;
}

.aboutus p {
    padding-right: 80px;
    padding-left: 80px;
    font: 15px 'Poppins', serif;
    color: #8b8b8b;
}

.inlinerow {
    display: flex;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
}

.coloredborder {
    width: 100%;
    height: 3px;
    background-color: black;
    margin-top: 50px;
}

.coloredborder1 {
    width: 25%;
    height: 100%;
    float: left;
    background-color: #fc5f45;
}

.coloredborder2 {
    float: left;
    width: 25%;
    position: relative;
    height: 100%;
    background-color: #38c695;
}

.coloredborder3 {
    float: left;
    width: 25%;
    position: relative;
    height: 100%;
    background-color: #b27cf5;
}

.coloredborder4 {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #feb960;
}